apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: firefox-syncserver
  namespace: firefox-syncserver

spec:
  interval: 15m
  chart:
    spec:
      chart: firefox-syncserver
      version: 20.13.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Utilities
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_FIREFOX_SYNC_SERVER}.${DOMAIN_0}

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
              trigger:
                schedule: 40 0 * * *

    cnpg:
      main:
        cluster:
          singleNode: true
        mode: recovery
        backups:
          enabled: true
          credentials: ${S3_NAME}
          # revision: "2"
        recovery:
          credentials: ${S3_NAME}
          # revision: "1"

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                FF_SYNCSERVER_ACCESSLOG: false
                FF_SYNCSERVER_ALLOW_NEW_USERS: true
                FF_SYNCSERVER_FORCE_WSGI_ENVIRON: true
                FF_SYNCSERVER_FORWARDED_ALLOW_IPS: "*"
                FF_SYNCSERVER_LOGLEVEL: info
                FF_SYNCSERVER_PUBLIC_URL: https://${DOMAIN_FIREFOX_SYNC_SERVER}
                FF_SYNCSERVER_SECRET: ${FIREFOX_SECRET}
                FF_SYNCSERVER_SQLURI:
                  secretKeyRef:
                    key: std
                    name: cnpg-main-urls
