apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: onlyoffice-document-server
  namespace: onlyoffice-document-server

spec:
  interval: 15m
  chart:
    spec:
      chart: onlyoffice-document-server
      version: 22.29.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Utilities
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_ONLYOFFICE_DOCUMENT_SERVER}.${DOMAIN_0}

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                JWT_SECRET: "${ONLYOFFICE_DOCUMENT_SERVER_SECRET}"
    cnpg:
      main:
        cluster:
          singleNode: true
        mode: recovery # Set to 'recovery' when recovery from S3, also change the revisions
        backups:
          enabled: true
          credentials: ${S3_NAME}
          retentionPolicy: "14d"
          # revision: "2"
        recovery:
          credentials: ${S3_NAME}
          # revision: "1"
