apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: lldap
  namespace: lldap

spec:
  interval: 15m
  chart:
    spec:
      chart: lldap
      version: 8.13.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Admin - Cluster
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_LLDAP}.${DOMAIN_0}

    persistence:
      data:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
              trigger:
                schedule: 40 0 * * *

    cnpg:
      main:
        cluster:
          singleNode: true
        mode: recovery # Set to 'recovery' when recovery from S3, also change the revisions
        backups:
          enabled: true
          credentials: ${S3_NAME}
          retentionPolicy: "45d"
        #       # revision: "2"
        recovery:
          credentials: ${S3_NAME}
    #       # revision: "1"

    service:
      ldap:
        enabled: true
      main:
        enabled: true

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                LLDAP_HTTP_PORT: "{{ .Values.service.main.ports.main.port }}"
                LLDAP_HTTP_URL: https://${SUBDOMAIN_LLDAP}.${DOMAIN_0}
                LLDAP_LDAP_BASE_DN: dc=${DC_SUBDOMAIN},dc=${DC_DOMAIN}
                LLDAP_LDAP_PORT: "{{ .Values.service.ldap.ports.ldap.port }}"
                LLDAP_LDAP_USER_DN: ${ADMIN_USER}
                LLDAP_LDAP_USER_EMAIL: ${ADMIN_EMAIL}
                LLDAP_LDAP_USER_PASS: ${ADMIN_PASSWORD}
                LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: true
                LLDAP_SMTP_OPTIONS__FROM: LLDAP Admin <sender@protonmail.com>
                LLDAP_SMTP_OPTIONS__PASSWORD: ${PROTONMAIL_PASSWORD}
                LLDAP_SMTP_OPTIONS__PORT: ${PROTONMAIL_PORT_SMTP}
                LLDAP_SMTP_OPTIONS__REPLY_TO: Do not reply <noreply@localhost>
                LLDAP_SMTP_OPTIONS__SERVER: http://protonmail-bridge.protonmail-bridge.svc.cluster.local
                LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: STARTTLS
                LLDAP_SMTP_OPTIONS__USER: ${PROTONMAIL_USER}
                LLDAP_VERBOSE: false
                smtp: true
