apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: voice-ai-gui
  namespace: voice-ai-gui

spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.14.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    ingress:
      main:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Utilities
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_VOICEAI}.${DOMAIN_0}

    service:
      main:
        type: ExternalIP
        externalIP: ${IP_VOICEAI}
        ports:
          main:
            protocol: https
            port: ${PORT_VOICEAI}
