apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: dev-mongodb
  namespace: dev-mongodb

spec:
  interval: 15m
  chart:
    spec:
      chart: mongodb
      version: 16.14.19
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    mongodbUsername: ${DEV_MONGODB_USERNAME}
    mongodbDatabase: ${DEV_MONGODB_USERNAME}
    password: ${DEV_MONGODB_PASSWORD}
    rootPassword: ${DEV_MONGODB_PASSWORD}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    service:
      main:
        ports:
          main:
            port: ${PORT_DEV_MONGODB}
        enabled: true
        type: LoadBalancer
        integrations:
          metallb:
            enabled: true

        loadBalancerIP: ${IP_DEV_MONGODB}

