apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: homepage
  namespace: homepage

spec:
  interval: 15m
  chart:
    spec:
      chart: homepage
      version: 11.17.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_HOMEPAGE}.${DOMAIN_0}

    addons:
      codeserver:
        enabled: true
        ingress:
          main:
            enabled: true
            ingressClassName: external
            integrations:
              certManager:
                enabled: true
                certificateIssuer: ${DNS_NAME}
            hosts:
              - host: ${SUBDOMAIN_HOMEPAGE_CFG}.${DOMAIN_0}
        service:
          ports:
            codeserver:
              port: ${PORT_HOMEPAGE_CODE_SERVER}

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
              trigger:
                schedule: 40 0 * * *
