apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: cloudflareddns
  namespace: cloudflareddns

spec:
  interval: 15m
  chart:
    spec:
      chart: cloudflareddns
      version: 12.14.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    TZ: ${TIMEZONE}
    cloudflareddns:
      user: ""
      api_token: ${DNS_API_TOKEN}
      detect_mode: dig-whoami.cloudflare
      host_zone_record:
        - domain: ${DOMAIN_0}
          record: A
          zone: ${DNS_ZONE_ID}
