apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: timetagger
  namespace: timetagger

spec:
  interval: 15m
  chart:
    spec:
      chart: timetagger
      version: 10.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Utilities
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
                # - Remote-User
            # annotations:
            #   nginx.ingress.kubernetes.io/auth-snippet: |
            #     proxy_set_header Authorization $http_authorization;
            annotations:
              nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
              nginx.ingress.kubernetes.io/ssl-passthrough: "true"
              nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
              nginx.ingress.kubernetes.io/auth-method: "GET"
              nginx.ingress.kubernetes.io/auth-url: "http://authelia.authelia.svc.cluster.local:9091/api/verify"
              nginx.ingress.kubernetes.io/auth-signin: "https://auth.${DOMAIN_0}?rm=$request_method"
              nginx.ingress.kubernetes.io/auth-response-headers: "Remote-User,Remote-Name,Remote-Groups,Remote-Email"
        hosts:
          - host: timetagger.${DOMAIN_0}

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
              trigger:
                schedule: 40 0 * * *

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                TIMETAGGER_PROXY_AUTH_ENABLED: true
                TIMETAGGER_PROXY_AUTH_TRUSTED: ${NGINX_EXTERNAL_IP},${NGINX_INTERNAL_IP}
                TIMETAGGER_PROXY_AUTH_HEADER: Remote-User
                TIMETAGGER_APP_REDIRECT: true
                # TIMETAGGER_CREDENTIALS: admin:$$2a$$08$$ECbq6bl4SgAUyKeDoZfcvengn6HHJtwU3wrG7lNl9NtlCnFXjpaSe,jb:$$2a$$08$$p6slLd3VGduWt.TImgHGrOVn9pqoa9POSXdRXlfvuiSQsy2l3zH6u,ka:$$2a$$08$$G7dv4gPcnfczUfgj0kNn3e00/sjde2iWOONGIzUgKaNOsesCoXPju
