apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: protonmail-bridge
  namespace: protonmail-bridge

spec:
  interval: 15m
  chart:
    spec:
      chart: protonmail-bridge
      version: 17.13.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            dest: #VolSync Destination (Restore)
              enabled: true
            src: #VolSync Source (Backup)
              enabled: true
              trigger:
                schedule: 40 0 * * *

    service:
      imap:
        enabled: true
        loadBalancerIP: ${IP_PROTONMAIL}
        ports:
          imap:
            enabled: true
            port: ${PROTONMAIL_PORT_IMAP}
            protcol: tcp
        type: LoadBalancer
        integrations:
          metallb:
            enabled: true

      main:
        enabled: false
        ports:
          main:
            enabled: false
      smtp:
        enabled: true
        loadBalancerIP: ${IP_PROTONMAIL}
        ports:
          smtp:
            enabled: true
            port: ${PROTONMAIL_PORT_SMTP}
            primary: true
            protocol: tcp
        primary: true
        type: LoadBalancer
        integrations:
          metallb:
            enabled: true
