apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-configfile
  namespace: authelia
data:
  configuration.yaml: |
    # server: 
    #   address: 0.0.0.0:9091
    #   endpoints: 
    #     authz:
    #       auth-request:
    #         implementation: 'AuthRequest'
    #         authn_strategies: 
    #           - name: 'HeaderAuthorization'
    #             schemes: 
    #               - 'Basic'
    #           - name: 'CookieSession'
    session:
      cookies:
        - domain: ${DOMAIN_0}
          authelia_url: https://${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}
    authentication_backend:
      ldap:
        implementation: lldap
        address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
        base_dn: dc=${DC_SUBDOMAIN},dc=${DC_DOMAIN}
        user: uid=${AUTHELIA_LLDAP_GROUP_NAME},ou=people,DC=${DC_SUBDOMAIN},DC=${DC_DOMAIN}
        password: ${AUTHELIA_LLDAP_PASSWORD}
    notifier:
      smtp:
        address: submission://protonmail-bridge.protonmail-bridge.svc.cluster.local:${PROTONMAIL_PORT_SMTP}
        username: ${PROTONMAIL_USER}
        password: ${PROTONMAIL_PASSWORD}
        sender: MS-Authelia <${PROTONMAIL_USER}>
        tls:
          server_name: protonmail-bridge.protonmail-bridge.svc.cluster.local:${PROTONMAIL_PORT_SMTP}
          minimum_version: TLS1.2
          skip_verify: true
    password_policy:
      standard:
        enabled: false
        max_length: 0
        min_length: 8
        require_lowercase: false
        require_number: false
        require_special: false
        require_uppercase: false
    regulation:
      ban_time: 5m
      find_time: 2m
      max_retries: 3
    theme: dark
    totp:
      issuer: ""
      period: 30
      skew: 1
    access_control:
      default_policy: deny
      rules:
        # --- bypass apis and other sub-paths ---
        - domain:
            - "*.${DOMAIN_0}"
          domain_regex: []
          networks: []
          policy: bypass
          resources:
            - ^/api([/?].*)?$
            - ^/share.*$
            - ^/rest.*$
            - ^/editors/onlyoffice.*$
            - ^/identity.*$
            - ^/triggers.*$
            - ^/meshagents.*$
            - ^/meshsettings.*$
            - ^/agent.*$
            - ^/control.*$
            - ^/meshrelay.*$
            - ^/wl.*$
            - ^/emby.*$
          subject: []
        # --- vaultwarden admin portal behind auth ---
        - domain:
            - ${SUBDOMAIN_VAULTWARDEN}.${DOMAIN_0}
          domain_regex: []
          networks: []
          policy: one_factor
          resources:
            - ^*/admin.*$
          subject:
            - "group:${LLDAP_ADMIN_GROUP}"
        # --- vaultwarden main portal bypassed ---
        - domain:
            - ${SUBDOMAIN_VAULTWARDEN}.${DOMAIN_0}
          domain_regex: []
          networks: []
          policy: bypass
          resources: []
          subject: []
        # --- domains with their own auth portals ---
        - domain:
            - ${SUBDOMAIN_VPN}.${DOMAIN_0}
            - ${SUBDOMAIN_ONLYOFFICE_DOCUMENT_SERVER}.${DOMAIN_0}
            - ${SUBDOMAIN_NEXTCLOUD}.${DOMAIN_0}
            - ${SUBDOMAIN_EMBY}.${DOMAIN_0}
            - ${SUBDOMAIN_JELLYFIN}.${DOMAIN_0}
          domain_regex: []
          networks: []
          policy: bypass
          resources: []
          subject: []
        # --- media domains ---
        - domain:
            - ${SUBDOMAIN_EMULATOR_JS}.${DOMAIN_0}
            - ${SUBDOMAIN_NAVIDROME}.${DOMAIN_0}
            - ${SUBDOMAIN_VOCECHAT_SERVER}.${DOMAIN_0}
            - ${SUBDOMAIN_JELLYSEERR}.${DOMAIN_0}
            - ${DOMAIN_0}
          domain_regex: []
          networks: []
          policy: one_factor
          resources: []
          subject:
            - "group:${LLDAP_MEDIA_GROUP}"
            - "group:${LLDAP_ADMIN_GROUP}"
        # --- dev domains ---
        - domain:
            - ${SUBDOMAIN_VOICEAI}.${DOMAIN_0}
            - ${SUBDOMAIN_GITEA}.${DOMAIN_0}
          domain_regex: []
          networks: []
          policy: one_factor
          resources: []
          subject:
            - "group:${LLDAP_DEV_GROUP}"
            - "group:${LLDAP_AC_GROUP}"
            - "group:${LLDAP_NEWS_GROUP}"
            - "group:${LLDAP_ADMIN_GROUP}"
        # --- admin-only catch-all ---
        - domain:
            - "*.${DOMAIN_0}"
            - ${DOMAIN_0}
          domain_regex: []
          networks: []
          policy: one_factor
          resources: []
          subject:
            - "group:${LLDAP_ADMIN_GROUP}"
