apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: code-server
  namespace: code-server

spec:
  interval: 15m
  chart:
    spec:
      chart: code-server
      version: 14.19.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Utilities
            name: Code Server - jbsoum
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_CODE_SERVER}.${DOMAIN_0}

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            # restore
            dest:
              enabled: true
            # backup
            src:
              enabled: true
              trigger:
                schedule: 40 0 * * *
      secrets:
        enabled: true
        type: secret
        objectName: code-server-ssh-keys
        expandObjectName: false
        mountPath: /ssh-keys
        readOnly: true
        defaultMode: "0600"
      code:
        enabled: true
        type: nfs
        server: ${IP_TRUENAS}
        path: "${NFS_CODE_SERVER_CODE}"
        mountPath: "/code"

    securityContext:
      pod:
        fsGroup: 0
        supplementalGroups:
          - 568

    ## Setup and install **basic** dev environments here
    devEnv:
      node:
        enabled: "true"
        nvmVersion: "0.40.3"

    workload:
      main:
        podSpec:
          containers:
            main:
              # mount keys to ssh directory, but don't overwrite ssh directory
              lifecycle:
                postStart:
                  type: exec
                  command:
                    - "/bin/bash"
                    - "-c"
                    - |
                      sleep 3;
                      if [ ! -d "/root/.ssh" ]; then
                        mkdir -p /root/.ssh
                      fi;

                      export status=99;
                      export attempts=0
                      echo "linking ssh keys to /root/.ssh..." >> /proc/1/fd/1;
                      until [ $status -eq 0 ];
                      do
                      echo "Attempt ${attempts}: link /ssh-keys/* to /root/.ssh..." >> /proc/1/fd/1
                        if [ $attempts -gt 100]; then
                          echo "Too many tries..." >> /proc/1/fd/1;
                          exit 1;
                        fi;

                        cp  /ssh-keys/* /root/.ssh/
                        status=$?;
                        sleep 3;
                        attempts=$((attempts+1))
                      done;

                      chmod 400 /root/.ssh
                      chmod -R 600 /root/.ssh
                      echo "keys copied!" >> /proc/1/fd/1;

                      ## Setup Dev Environments
                      export node_enabled="{{ .Values.node.enabled }}";
                      export nvm_version="{{ .Values.node.nvmVersion }}";

                      echo "Node enabled: $${node_enabled}";
                      echo "nvm_version: $${nvm_version}";

                      if [ "$${node_enabled}" -eq "true" ]; then
                        curl -o- "https://raw.githubusercontent.com/nvm-sh/nvm/v$${nvm_version}/install.sh" | bash;

                        export NVM_DIR="$HOME/.nvm"
                        [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  --no-use # This loads nvm
                        [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

                        echo "NVM Installed!" >> /proc/1/fd/1
                      fi;
