apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: code-server
  namespace: code-server

spec:
  interval: 15m
  chart:
    spec:
      chart: code-server
      version: 14.21.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          homepage:
            enabled: true
            group: Utilities
            name: Code Server - jbsoum
            widget:
              enabled: false
          certManager:
            enabled: true
            certificateIssuer: ${DNS_NAME}
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "${SUBDOMAIN_AUTHELIA}.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
        hosts:
          - host: ${SUBDOMAIN_CODE_SERVER}.${DOMAIN_0}

    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: ${S3_NAME}
            # restore
            dest:
              enabled: true
            # backup
            src:
              enabled: true
              trigger:
                schedule: 40 0 * * *
      secrets:
        enabled: true
        type: secret
        objectName: code-server-ssh-keys
        expandObjectName: false
        mountPath: /ssh-keys
        readOnly: true
        defaultMode: "0600"
      code:
        enabled: true
        type: nfs
        server: ${IP_TRUENAS}
        path: "${NFS_CODE_SERVER_CODE}"
        mountPath: "/code"

    securityContext:
      pod:
        fsGroup: 0
        supplementalGroups:
          - 568

    ## Setup and install **basic** dev environments here
    node:
      enabled: "true"
      nvmVersion: "0.40.3"

    workload:
      main:
        podSpec:
          containers:
            main:
              # mount keys to ssh directory, but don't overwrite ssh directory
              lifecycle:
                postStart:
                  type: exec
                  command:
                    - "/bin/bash"
                    - "-c"
                    - |
                      sleep 3;
                      if [ ! -d "/root/.ssh" ]; then
                        mkdir -p /root/.ssh
                      fi;

                      export status=99;
                      export attempts=0
                      echo "linking ssh keys to /root/.ssh..." >> /proc/1/fd/1;

                      echo "Attempt $attempts: link /ssh-keys/* to /root/.ssh..." >> /proc/1/fd/1 ;

                      if [ $attempts -gt 100]; then
                        echo "Too many tries..." >> /proc/1/fd/1;
                        exit 1
                      elif cp /ssh-keys/* /root/.ssh/; then
                        echo "Keys copied! continuing..." >> /proc/1/fd/1;
                      else
                        status=$?;
                        echo "Key copy failed, try again..." >> /proc/1/fd/1;
                        sleep 3;
                        attempts=$((attempts+1))
                      fi;

                      chmod 400 /root/.ssh
                      chmod -R 600 /root/.ssh
                      echo "key perms set!" >> /proc/1/fd/1;

                      ## Setup Dev Environments
                      export node_enabled="{{ .Values.node.enabled }}";
                      export nvm_version="{{ .Values.node.nvmVersion }}";

                      echo "Node enabled: $node_enabled"  >> /proc/1/fd/1 ;
                      echo "nvm_version: $nvm_version"  >> /proc/1/fd/1 ;


                      # if [ "$node_enabled" == "true" ]; then
                        # export BASH_ENV=/root/.bash_env
                        # touch $BASH_ENV
                        # echo '. "${BASH_ENV}"' >> ~/.bashrc


                        # curl -o- "https://raw.githubusercontent.com/nvm-sh/nvm/v$nvm_version/install.sh" | PROFILE="${BASH_ENV}" bash;
                        # echo node > .nvmrc
                        # nvm install

                        # if [ $? -ne 0 ]; then
                        #   echo "Nvm install failed..."  >> /proc/1/fd/1 ;
                        #   exit 1 ;
                        # else
                        #   echo "Nvm install succeeded!"  >> /proc/1/fd/1 ;
                        # fi

                        # export NVM_DIR="$HOME/.nvm"
                        # echo "NVM_DIR: $NVM_DIR"  >> /proc/1/fd/1 ;

                        # # This loads nvm
                        # # [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  --no-use;
                        # if [ -s "$NVM_DIR/nvm.sh" ]; then
                        #   echo "check NVM_DIR/nvm.sh...." ;
                        #   if \. "$NVM_DIR/nvm.sh"  --no-use; then
                        #     echo "Nvm $nvm_version loaded..."  >> /proc/1/fd/1 ;
                        #   else
                        #     echo "run NVM_DIR/nvm.sh...." ;
                        #     echo "run nvm.sh failed, exiting..."  >> /proc/1/fd/1 ;
                        #     exit 1;
                        #   fi
                        # else
                        #   echo "check nvm.sh failed, exiting..."  >> /proc/1/fd/1 ;
                        #   exit 1
                        # fi
                        
                        # # This loads nvm bash_completion
                        # if [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"; then  
                        #   echo "Nvm bash completion loaded..."  >> /proc/1/fd/1 ;
                        # else
                        #   echo "Nvm bash completion loading failed, exiting..."  >> /proc/1/fd/1 ;
                        #   exit 1
                        # fi
                        # echo "NVM Installed! Installing latest version of node" >> /proc/1/fd/1
                        # echo "Ofc, feel free to switch to whatever version you want :D" >> /proc/1/fd/1

                        # if nvm install node; then
                        #   echo "Latest version of node installed!"  >> /proc/1/fd/1 ;
                        # else
                        #   echo "Node install failed! Exiting... :("  >> /proc/1/fd/1 ;
                        # fi

                        # if nvm use node; then
                        #   echo "Latest version of node set!"  >> /proc/1/fd/1 ;
                        # else
                        #   echo "Setting Node failed! Exiting... :("  >> /proc/1/fd/1 ;
                        #   exit 1 ;
                        # fi
                      # fi;
