apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: dev-postgresql
  namespace: dev-postgresql

spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.17
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    image:
      repository: docker.io/bitnami/postgresql
      pullPolicy: IfNotPresent
      tag: latest@sha256:9dc1c74aff55144030fb0307666dfa97aefadf5914749696a348fb8f36eb4d7d

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    securityContext:
      container:
        runAsGroup: 0
        readOnlyRootFilesystem: false

    service:
      main:
        ports:
          main:
            port: ${PORT_DEV_POSTGRESQL}
            targetPort: 5432
        enabled: true
        type: LoadBalancer
        integrations:
          metallb:
            enabled: true

        loadBalancerIP: ${IP_DEV_POSTGRESQL}

    persistence:
      data:
        enabled: true
        type: emptyDir
        mountPath: "/bitnami/postgresql"

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                POSTGRESQL_USERNAME: ${DEV_POSTGRESQL_USERNAME}
                POSTGRESQL_PASSWORD: ${DEV_POSTGRESQL_PASSWORD}
                POSTGRESQL_DATABASE: ${DEV_POSTGRESQL_USERNAME}
                POSTGRESQL_MASTER_PORT_NUMBER: ${PORT_DEV_POSTGRESQL}
                POSTGRESQL_TIMEZONE: ${TIMEZONE}
                POSTGRESQL_LOG_TIMEZONE: ${TIMEZONE}
