apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease

metadata:
  name: icloudpd
  namespace: icloudpd

spec:
  interval: 15m
  chart:
    spec:
      chart: icloudpd
      version: 9.14.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  #timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    global:
      stopAll: false

    TZ: ${TIMEZONE}

    credentials:
      backblaze:
        accessKey: ${S3_ACCESS_KEY}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_ENCRYPTION_KEY}
        name: ${S3_NAME}
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_URL}

    persistence:
      data:
        enabled: true
        type: nfs
        server: ${IP_TRUENAS}
        path: "${NFS_DATA_BACKUP}/iphone"
        # mountPath: "/jb-iphone"

    icloudpd:
      apple_id: ${APPLE_ID}
      authentication_type: 2FA
      auto_delete: false
      command_line_options: ""
      convert_heic_to_jpeg: true
      delete_accompanying: false
      delete_empty_directories: false
      delete_notifications: false
      download_notifications: false
      icloud_china: true
      jpeg_quality: 100
      live_photo_size: original
      notification_days: 7
      notification_title: iCloud PD
      notification_type: ""
      photo_album: ""
      photo_size: original
      recent_only: 0
      set_exif_datetime: true
      skip_check: false
      skip_live_photos: false
      skip_videos: false
      synchronisation_delay: 0
      synchronisation_interval: 86400
      until_found: 0
